<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620323386358-9mvkvkdmbu6d2femoj3tl369mfvf99bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620323386358-9mvkvkdmbu6d2femoj3tl369mfvf99bh</string>
	<key>API_KEY</key>
	<string>AIzaSyCu8o18xrIAWQXcQOl0yT9SnlfDeSDLVe8</string>
	<key>GCM_SENDER_ID</key>
	<string>620323386358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolgakaanaysu.Fooderland</string>
	<key>PROJECT_ID</key>
	<string>fooderland-df989</string>
	<key>STORAGE_BUCKET</key>
	<string>fooderland-df989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620323386358:ios:5a472190c96b78a1a0cdd7</string>
</dict>
</plist>